@page "/counter"
@using System.Diagnostics

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count joe: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

      using var source = new ActivitySource(ClientSemantics.UiActivity);
      {
        using var activity = source.StartActivity("Click", ActivityKind.Client);
        activity?.AddEvent(new ActivityEvent("The count button was clicked"));

        activity?.SetTag("count", currentCount);
        activity?.SetTag("mouse.x", 123);
        activity?.SetTag("mouse.y", 2323);
      }
    }
}
