@page "/fetchdata"
@using BlazerExample.Shared
@using System.Diagnostics
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
      using var source = new ActivitySource(ClientSemantics.UiActivity);
      {
        using var activity = source.StartActivity("Weather Data", ActivityKind.Client);
        activity?.AddEvent(new ActivityEvent("The count button was clicked"));

        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");

        activity?.SetTag("count", forecasts.Length);
        
      }
        
    }
}
